<footer class="site-footer h-card">
    <data class="u-url" href="{{ "
    /" | relative_url }}"></data>

    <div class="wrapper">


        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    {%- if site.email -%}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {%- endif -%}
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                {%- include social.html -%}
            </div>

            <div class="footer-col footer-col-3 footer-text">
                <p>{{- site.description | escape -}}</p>
            </div>
        </div>
    </div>
</footer>
<footer class="site-footer2">
    <div class="wrapper">
        <div class="row">
            <div class="col-3">
                <img src="{{'/assets/img/apache_incubator_logo.png' | relative_url}}" class="footer-logo col-2">
            </div>
            <div class="footer-bottom-warning col-9">
                <p>Apache MXNet is an effort undergoing incubation at The Apache Software Foundation (ASF), <span
                        style="font-weight:bold">sponsored by the <i>Apache Incubator</i></span>. Incubation is required
                    of all newly accepted projects until a further review indicates that the infrastructure,
                    communications, and decision making process have stabilized in a manner consistent with other
                    successful ASF projects. While incubation status is not necessarily a reflection of the completeness
                    or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.
                </p><p>"Copyright © 2017-2018, The Apache Software Foundation Apache MXNet, MXNet, Apache, the Apache
                    feather, and the Apache MXNet project logo are either registered trademarks or trademarks of the
                    Apache Software Foundation."</p>
            </div>
        </div>
    </div>
</footer>




