.docs-logo {
  height: 50px;
  //filter: grayscale(1);
}

.docs-logo-docs {
  height: 20px;
  filter: saturate(0.5);
  padding-bottom: 4px;
  margin-right: 10px;
}

a.btn-action.docs-action {
  margin-top: 0;
}
.docs-action {
  background-color: $grey-color-light !important;
  float:right;
}